*{
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  width: 100%;
  min-height:100vh;
  padding: 2em 4em 1em 4em;
  background: #0062be;
  transition: 0.5s;
}
.section{
  margin-bottom: 4em;
}