//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

*{
  font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height:100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0062be;
  transition: 0.5s;
}