$color_1: #fff;

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    position: relative;
    max-width: 80px;
  }
  ul {
    position: relative;
    display: flex;
    li {
      list-style: none;
      a {
        display: inline-block;
        color: $color_1;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: none;
        &:hover{
          color: $orange;
        }
      }
      //extend used
      .active {
        @extend a;
        color:$orange;
      }
    }
  }
}